.galleryListItem-photos {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative; /*setting up for children to be abs pos*/
  font-family: Georgia, "Times New Roman", Times;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.galleryList-btn-and-count {
  position: absolute;
  bottom: 5px;
  margin: auto;
  margin-left: 131px;
  font-family: Georgia, "Times New Roman", Times;
}

.gallery-like-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Georgia, "Times New Roman", Times;
}
.conditional-imageElement {
  text-align: center;
  margin-top: 70px;
  font-size: larger;
  padding: 100px;
}
